<input #fileInput type="file" accept=".svg"/>
<button (click)="process()">PROCESS</button>

<div *ngIf="fileContents">
  <div style="font-size: 20px; font-weight: bold; padding: 16px 0 8px 0;">
    Original: {{fileContents.length}} bytes
  </div>
  <div style="white-space: pre-wrap;">{{fileContents}}</div>
</div>

<div *ngIf="processedContents">
  <div style="font-size: 20px; font-weight: bold; padding: 16px 0 8px 0;">
    Simplfied: {{processedContents.length}} bytes
  </div>
  <div style="white-space: pre-wrap;">{{processedContents}}</div>
</div>

<!-- TODO Add download button and auto copy to clipboard button. -->