<div class="toolbar-container">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
        <div class="sidenav-toggle" fxShow fxHide.gt-xs>
            <button mat-icon-button  (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div fxShow fxHide.xs>
            TEST
        </div>
        <div fxFlex>
            <!-- Empty -->
        </div>
        <div>
            HELLO
        </div>
    </div>
</div>
<div class="app-contents">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #sidenav mode="over">
            sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
<!-- TODO Add download button and auto copy to clipboard button. -->