<div class="toolbar-container">
    <div class="toolbar">
        <div class="sidenav-toggle">
            <button mat-icon-button  (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="logo">
            SVG-MINIFIER
        </div>
        <div class="links-container">
            <div class="link" routerLink="/upload">
                UPLOAD SVG
            </div>
            <div class="separator">
                |
            </div>
            <div class="link">
                BATCH UPLOAD
            </div>
            <div class="filler">
                <!-- Empty -->
            </div>
            <div class="link" routerLink="/info/about">
                ABOUT
            </div>
        </div>
    </div>
</div>
<div class="app-contents">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #sidenav mode="over">
            sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
<!-- TODO Add download button and auto copy to clipboard button. -->