@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
	font-family: Roboto, sans-serif;
	height: 100%;
	body {
		margin: 0;
		height: 100%;
	}
}

.mat-drawer-container {
	background: #FFF;
}

.dev-mode-message {
	color: red;
	padding: 8px;
}

.subheader {
	line-height: 48px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.54);
}