<div *ngIf="enableDevFeatures" class="dev-mode-message">
    DEV FEATURES ENABLED
</div>

<div class="upload-container">
    <input #fileInput type="file" accept=".svg" (change)="markForCheck()"/>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    
    <button mat-raised-button [matMenuTriggerFor]="svgMinifyOptionsMenu" color="accent">SETTINGS</button>
    <button mat-raised-button (click)="process()" color="primary" [disabled]="!hasFiles()">MINIFY</button>

    <mat-menu #svgMinifyOptionsMenu="matMenu" [overlapTrigger]="false">
        <div class="process-options" (click)="$event.stopPropagation()">
            <div class="buttons" fxLayout="row" fxLayoutGap="16px">
                <button mat-stroked-button color="primary" (click)="gtSportOptionsPreset()">GT SPORT PRESET</button>
                <button mat-stroked-button color="warn" (click)="clearOptions()">CLEAR</button>
            </div>
            <div class="checkboxes" fxLayout="column" fxLayoutGap="8px">
                <mat-checkbox [(ngModel)]="svgMinifyOptions.outputSingleLine">Output single line</mat-checkbox>
                <mat-checkbox [(ngModel)]="svgMinifyOptions.minifyElementIds">Minify element IDs</mat-checkbox>
            </div>
            <div class="subheader">
                GT Sport Options
            </div>
            <div class="checkboxes" fxLayout="column" fxLayoutGap="8px">
                <mat-checkbox [(ngModel)]="svgMinifyOptions.gtSportFixGradientTransform">Fix gradient transforms</mat-checkbox>
                <mat-checkbox [(ngModel)]="svgMinifyOptions.gtSportFixRadialGradients">Fix radial gradients</mat-checkbox>
                <mat-checkbox [(ngModel)]="svgMinifyOptions.gtSportRemoveGradientUnits">Remove gradient units</mat-checkbox>
                <mat-checkbox [(ngModel)]="svgMinifyOptions.gtSportRemoveMiterLimits">Remove miter limits</mat-checkbox>
            </div>
            <div *ngIf="enableDevFeatures">
                <div class="subheader">
                    Dev Features
                </div>
                <div class="checkboxes" fxLayout="column" fxLayoutGap="8px">
                    <mat-checkbox [(ngModel)]="svgMinifyOptions.groupGradients">Group gradients</mat-checkbox>
                    <mat-checkbox [(ngModel)]="shiftDecimals">Shift decimals 2 places</mat-checkbox>
                </div>
            </div>
        </div>
    </mat-menu>
</div>

<div class="svg-contents-container" fxLayoutWrap>

    <div *ngIf="fileContents" class="svg-content">
        <div class="header">
            Original: {{fileContents.length}} bytes
        </div>
        <div class="content">{{fileContents}}</div>
    </div>
    
    <div *ngIf="results" class="svg-content">
        <div class="header">
            Simplfied: {{results.length}} bytes
            <button mat-button (click)="copyToClipboard()" color="primary">
                <mat-icon>content_copy</mat-icon> COPY TO CLIPBOARD
            </button>
        </div>
        <div #resultsContainer class="content">{{results}}</div>
    </div>

</div>