.upload-container {
    width: 100%;
    text-align: center;
    padding: 16px;
}

.process-options {
    padding: 8px 16px;

    .buttons {
        padding-bottom: 16px;
    }
}

.svg-contents-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;

    .svg-content {
        padding: 8px 16px;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 50%;

        @media screen and (max-width: 1279px) {
            max-width: 100%;
        }

        .header {
            font-size: 20px;
            font-weight: 500;
            line-height: 56px;
        }

        .content {
            white-space: pre-wrap;
            font-size: 14px;
        }
    }
}